@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic app styles */
:root {
  --bg: #f7f8fb;
}

html,
body {
  height: 100%;
}

/* Reset some default styles */
body {
  @apply antialiased;
}


/* container utility for consistency */
.app-container {
  @apply mx-auto px-6;
}